/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #1f2937;
}


.app {
    display: flex;
    min-height: 100vh;
}

/* =========================
   SIDEBAR (MOBILE FIRST)
========================= */
.sidebar {
    width: 64px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
}

.logo {
    width: 42px;
    height: 42px;
    background: #2563eb;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.menu a i {
    font-size: 20px;
}

.menu a span {
    display: none; /* mobile: só ícone */
}

.menu a.active,
.menu a:hover {
    background: #eef2ff;
    color: #2563eb;
}

/* USER */
.user {
    margin-top: auto;
}

.avatar {
    width: 38px;
    height: 38px;
    background: #3b82f6;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

.content-header h1 {
    font-size: 1.3rem;
    margin-bottom: 6px;
}

.content-header p {
    color: #6b7280;
    font-size: 0.95rem;
    margin-bottom: 24px;
}


/* CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.card h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.05rem;
    margin-bottom: 8px;
}

.card h3 i {
    font-size: 22px;
    color: #2563eb;
}

.card p {
    font-size: 0.85rem;
    color: #4b5563;
    margin-bottom: 14px;
}

.card button {
    width: 100%;
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
}

.card button:hover {
    background: #1d4ed8;
}

/* DESKTOP / TABLET */
@media (min-width: 768px) {
    .sidebar {
        width: 90px;
    }

    .menu a {
        justify-content: flex-start;
        gap: 10px;
        padding: 10px 14px;
    }

    .menu a span {
        display: inline;
        font-size: 0.85rem;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .content {
        padding: 32px;
    }
}
